# File managed by ansible as part of RHEL10 CIS benchmark
# As part of Ansible-lockdown
# Provided by {{ company_title }}
# CIS rule 6_2_1_3
[Journal]
SystemMaxUse={{ rhel10cis_journald_systemmaxuse }}
SystemKeepFree={{ rhel10cis_journald_systemkeepfree }}
RuntimeMaxUse={{ rhel10cis_journald_runtimemaxuse }}
RuntimeKeepFree={{ rhel10cis_journald_runtimekeepfree }}
MaxFileSec={{ rhel10cis_journald_maxfilesec }}
