# File managed by ansible as part of RHEL10 CIS benchmark
# As part of Ansible-lockdown
# Provided by {{ company_title }}

# This template will set all of the auditd configurations via a handler in the role in one task instead of individually
{% if rhel10cis_rule_6_3_3_5 %}
{% set syscalls = ["sethostname","setdomainname"] %}
{% set arch_syscalls = syscalls | select("in", supported_syscalls) | list %}
-a always,exit -F arch=b64 -S {{ arch_syscalls|join(',') }} -k system-locale
{% endif %}
