# File managed by ansible as part of RHEL10 CIS benchmark
# Provided by Ansible-lockdown by Tyto Athene

# This template will set all of the auditd configurations via a handler in the role in one task instead of individually
{% if rhel10cis_rule_6_3_3_22 %}
-w /var/run/utmp -p wa -k session
-w /var/log/wtmp -p wa -k session
-w /var/log/btmp -p wa -k session
{% endif %}
