---

- name: "5.3.1.1 | PATCH | Ensure active authselect profile includes pam modules"
  when:
    - rhel10cis_rule_5_3_1_1
    - rhel10cis_disruption_high
    - rhel10cis_allow_authselect_updates
  tags:
    - level1-server
    - level1-workstation
    - manual
    - patch
    - authselect
    - rule_5.3.1.1
    - NIST800-53R5_NA
  block:
    - name: "5.3.1.1 | PATCH | Ensure active authselect profile includes pam modules | Create custom profiles"
      when: prelim_authselect_profile_exists.rc != 0
      ansible.builtin.command: "/usr/bin/authselect create-profile {{ rhel10cis_authselect_custom_profile_name }} -b {{ rhel10cis_authselect_default_profile_to_copy }}"
      args:
        creates: "/etc/authselect/custom/{{ rhel10cis_authselect_custom_profile_name }}"

    - name: "5.3.1.1 | PATCH | Ensure active authselect profile includes pam modules | Backup and Add pam modules"
      when: (rhel10cis_authselect_custom_profile_name not in prelim_authselect_current_profile.stdout)
      ansible.builtin.command: "/usr/bin/authselect select custom/{{ rhel10cis_authselect_custom_profile_name }} --force --backup=rhel10cis-preremediate-{{ lookup('pipe', 'date +%Y-%m-%d-%H%M') }}"
      changed_when: true

- name: "5.3.1.2 | PATCH | Ensure pam_faillock module is enabled"
  when:
    - rhel10cis_rule_5_3_1_2
    - rhel10cis_disruption_high
    - rhel10cis_allow_authselect_updates
    - "'with-faillock' not in prelim_authselect_current_profile.stdout"
  tags:
    - level1-server
    - level1-workstation
    - automated
    - patch
    - NIST800-53R5_AC-7
    - authselect
    - rule_5.3.1.2
  ansible.builtin.command: authselect enable-feature with-faillock
  changed_when: true

- name: "5.3.1.3 | PATCH | Ensure pam_pwquality module is enabled"
  when:
    - rhel10cis_rule_5_3_1_3
    - rhel10cis_disruption_high
    - rhel10cis_allow_authselect_updates
    - "'with-pwquality' not in prelim_authselect_current_profile.stdout"
  tags:
    - level1-server
    - level1-workstation
    - automated
    - patch
    - NIST800-53R5_CM-6
    - authselect
    - rule_5.3.1.3
  ansible.builtin.command: authselect enable-feature with-pwquality
  changed_when: true

- name: "5.3.1.4 | PATCH | Ensure pam_pwhistory module is enabled"
  when:
    - rhel10cis_rule_5_3_1_4
    - rhel10cis_disruption_high
    - rhel10cis_allow_authselect_updates
    - "'with-pwhistory' not in prelim_authselect_current_profile.stdout"
  tags:
    - level1-server
    - level1-workstation
    - automated
    - patch
    - NIST800-53R5_IA-5
    - authselect
    - rule_5.3.1.4
  ansible.builtin.command: authselect enable-feature with-pwhistory
  changed_when: true

- name: "5.3.1.5 | PATCH | Ensure pam_unix module is enabled"
  when:
    - rhel10cis_rule_5_3_1_5
    - rhel10cis_disruption_high
    - rhel10cis_allow_authselect_updates
  tags:
    - level1-server
    - level1-workstation
    - automated
    - patch
    - NIST800-53R5_IA-5
    - authselect
    - rule_5.3.1.5
  block:
    - name: "5.3.1.5 | AUDIT | Ensure pam_unix module is enabled"
      ansible.builtin.shell: |
        grep -P -- '\b(pam_unix\.so)\b' /etc/authselect/"$(head -1 /etc/authselect/authselect.conf)"/{system,password}-auth
      changed_when: false
      failed_when: discovered_authselect_pam_unix.rc not in [ 0, 1 ]
      register: discovered_authselect_pam_unix

    - name: "5.3.1.5 | PATCH | Ensure pam_unix module is enabled | system-auth"
      when: "'system-auth:password' not in discovered_authselect_pam_unix.stdout"
      ansible.builtin.lineinfile:
        path: "/etc/authselect/custom/{{ rhel10cis_authselect['custom_profile_name'] }}/system-auth"
        regexp: "{{ item.regexp }}"
        line: "{{ item.line }}"
        backrefs: true
        insertafter: "{{ item.after | default(omit) }}"
        insertbefore: "{{ item.before | default(omit) }}"
        loop:
          - { regexp: "^(auth\\s+)sufficient(\\s+pam_unix.so.*)(.*)", line: "\\1sufficient\\2\\3", after: "^auth.*pam_faillock.*preauth" }
          - { regexp: "^(password\\s+)sufficient(\\s+pam_unix.so.*)(.*)", line: "\\1sufficient\\2\\3", before: "^password.*pam_deny.so" }
      notify: Authselect update

    - name: "5.3.1.5 | PATCH | Ensure pam_unix module is enabled | password-auth"
      when: "'password-auth:password' not in discovered_authselect_pam_unix.stdout"
      ansible.builtin.lineinfile:
        path: "/etc/authselect/custom/{{ rhel10cis_authselect.custom_profile_name }}/password-auth"
        line: "{{ item.line }}"
        regexp: "{{ item.regexp }}"
        backrefs: true
        insertafter: "{{ item.after | default(omit) }}"
        insertbefore: "{{ item.before | default(omit) }}"
        loop:
          - { regexp: "^(auth\\s+)sufficient(\\s+pam_unix.so.*)(.*)", line: "\\1sufficient\\2\\2", after: "^auth.*pam_faillock.*preauth" }
          - { regexp: "^(password\\s+)sufficient(\\s+pam_unix.so.*)(.*)", line: "\\1sufficient\\2\\3", before: "^password.*pam_deny.so" }
      notify: Authselect update
