---

- name: "3.3.2.1 | PATCH | Ensure net.ipv6.conf.all.forwarding is configured"
  when:
    - not rhel10cis_is_router
    - rhel10cis_ipv6_required
    - rhel10cis_rule_3_3_2_1
  tags:
    - level2-server
    - level1-workstation
    - sysctl
    - patch
    - rule_3.3.2.1
    - CCI-000366
    - NIST800-53R5_CM-6
  block:
    - name: "3.3.2.1 | PATCH | Ensure net.ipv6.conf.all.forwarding is configured | Disable IPv6 forwarding | Set Fact"
      ansible.builtin.set_fact:
        rhel10cis_sysctl_update: true
        rhel10cis_flush_ipv6_route: true

    - name: "3.3.2.1 | PATCH | Ensure net.ipv6.conf.all.forwarding is configured | Disable IPv6 forwarding"
      ansible.builtin.debug:
        msg: "Control being set via post action 'Update sysctl' which writes to /etc/sysctl.d/60-netipv6_sysctl.conf"

- name: "3.3.2.2 | PATCH | Ensure net.ipv6.conf.default.forwarding is configured"
  when:
    - not rhel10cis_is_router
    - rhel10cis_ipv6_required
    - rhel10cis_rule_3_3_2_2
  tags:
    - level2-server
    - level1-workstation
    - sysctl
    - patch
    - rule_3.3.2.2
    - CCI-000366
    - NIST800-53R5_CM-6
  block:
    - name: "3.3.2.2 | PATCH | Ensure net.ipv6.conf.default.forwarding | Disable IPv6 default forwarding | Set Fact"
      ansible.builtin.set_fact:
        rhel10cis_sysctl_update: true
        rhel10cis_flush_ipv6_route: true

    - name: "3.3.2.2 | PATCH | Ensure net.ipv6.conf.default.forwarding | Disable IPv6 default forwarding"
      ansible.builtin.debug:
        msg: "Control being set via post action 'Update sysctl' which writes to /etc/sysctl.d/60-netipv6_sysctl.conf"

- name: "3.3.2.3 | PATCH | Ensure net.ipv6.conf.all.accept_redirects is configured"
  when:
    - not rhel10cis_is_router
    - rhel10cis_ipv6_required
    - rhel10cis_rule_3_3_2_3
  tags:
    - level1-server
    - level1-workstation
    - patch
    - sysctl
    - rule_3.3.2.3
    - CCI-000366
    - NIST800-53R5_CM-6
  block:
    - name: "3.3.2.3 | PATCH | Ensure net.ipv6.conf.all.accept_redirects is configured | Set Fact"
      ansible.builtin.set_fact:
        rhel10cis_sysctl_update: true
        rhel10cis_flush_ipv6_route: true

    - name: "3.3.2.3 | PATCH | Ensure net.ipv6.conf.all.accept_redirects is configured"
      ansible.builtin.debug:
        msg: "Control being set via post action 'Update sysctl' which writes to /etc/sysctl.d/60-netipv6_sysctl.conf"

- name: "3.3.2.4 | PATCH | Ensure net.ipv6.conf.default.accept_redirects is configured"
  when:
    - not rhel10cis_is_router
    - rhel10cis_ipv6_required
    - rhel10cis_rule_3_3_2_4
  tags:
    - level1-server
    - level1-workstation
    - patch
    - sysctl
    - rule_3.3.2.4
    - CCI-000366
    - NIST800-53R5_CM-6
  block:
    - name: "3.3.2.4 | PATCH | Ensure net.ipv6.conf.default.accept_redirects is configured | Set Fact"
      ansible.builtin.set_fact:
        rhel10cis_sysctl_update: true
        rhel10cis_flush_ipv6_route: true

    - name: "3.3.2.4 | PATCH | Ensure net.ipv6.conf.default.accept_redirects is configured"
      ansible.builtin.debug:
        msg: "Control being set via post action 'Update sysctl' which writes to /etc/sysctl.d/60-netipv6_sysctl.conf"

- name: "3.3.2.5 | PATCH | Ensure net.ipv6.conf.all.accept_source_route is configured"
  when:
    - rhel10cis_ipv6_required
    - rhel10cis_rule_3_3_2_5
  tags:
    - level1-server
    - level1-workstation
    - sysctl
    - patch
    - rule_3.3.2.5
    - CCI-000366
    - NIST800-53R5_CM-6
  block:
    - name: "3.3.2.5 | PATCH | Ensure net.ipv6.conf.all.accept_source_route is configured | Set Fact"
      ansible.builtin.set_fact:
        rhel10cis_sysctl_update: true
        rhel10cis_flush_ipv6_route: true

    - name: "3.3.2.5 | PATCH | Ensure net.ipv6.conf.all.accept_source_route is configured"
      ansible.builtin.debug:
        msg: "Control being set via post action 'Update sysctl' which writes to /etc/sysctl.d/60-netipv6_sysctl.conf"

- name: "3.3.2.6 | PATCH | Ensure net.ipv6.conf.default.accept_source_route is configured"
  when:
    - rhel10cis_ipv6_required
    - rhel10cis_rule_3_3_2_6
  tags:
    - level1-server
    - level1-workstation
    - sysctl
    - patch
    - rule_3.3.2.6
    - CCI-000366
    - NIST800-53R5_CM-6
  block:
    - name: "3.3.2.6 | PATCH | Ensure net.ipv6.conf.default.accept_source_route is configured | Set Fact"
      ansible.builtin.set_fact:
        rhel10cis_sysctl_update: true
        rhel10cis_flush_ipv6_route: true

    - name: "3.3.2.6 | PATCH | Ensure net.ipv6.conf.default.accept_source_route is configured"
      ansible.builtin.debug:
        msg: "Control being set via post action 'Update sysctl' which writes to /etc/sysctl.d/60-netipv6_sysctl.conf"

- name: "3.3.2.7 | PATCH | Ensure net.ipv6.conf.all.accept_ra is configured"
  when:
    - rhel10cis_ipv6_required
    - rhel10cis_rule_3_3_2_7
  tags:
    - level1-server
    - level1-workstation
    - sysctl
    - patch
    - rule_3.3.2.7
    - CCI-000366
    - NIST800-53R5_CM-6
  block:
    - name: "3.3.2.7 | PATCH | Ensure net.ipv6.conf.all.accept_ra is configured | Set Fact"
      ansible.builtin.set_fact:
        rhel10cis_sysctl_update: true
        rhel10cis_flush_ipv6_route: true

    - name: "3.3.2.7 | PATCH | Ensure net.ipv6.conf.all.accept_ra is configured"
      ansible.builtin.debug:
        msg: "Control being set via post action 'Update sysctl' which writes to /etc/sysctl.d/60-netipv6_sysctl.conf"

- name: "3.3.2.8 | PATCH | Ensure net.ipv6.conf.default.accept_ra is configured"
  when:
    - rhel10cis_ipv6_required
    - rhel10cis_rule_3_3_2_8
  tags:
    - level1-server
    - level1-workstation
    - sysctl
    - patch
    - rule_3.3.2.8
    - CCI-000366
    - NIST800-53R5_CM-6
  block:
    - name: "3.3.2.8 | PATCH | Ensure net.ipv6.conf.default.accept_ra is configured | Set Fact"
      ansible.builtin.set_fact:
        rhel10cis_sysctl_update: true
        rhel10cis_flush_ipv6_route: true

    - name: "3.3.2.8 | PATCH | Ensure net.ipv6.conf.default.accept_ra is configured"
      ansible.builtin.debug:
        msg: "Control being set via post action 'Update sysctl' which writes to /etc/sysctl.d/60-netipv6_sysctl.conf"
