---

- name: "3.3.1.1 | PATCH | Ensure net.ipv4.ip_forward is configured"
  when:
    - not rhel10cis_is_router
    - rhel10cis_rule_3_3_1_1
  tags:
    - level2-server
    - level1-workstation
    - sysctl
    - patch
    - rule_3.3.1.1
    - CCI-000366
    - NIST800-53R5_CM-6
  block:
    - name: "3.3.1.1 | PATCH | Ensure net.ipv4.ip_forward is configured | Disable IPv4 forwarding | Set Fact"
      ansible.builtin.set_fact:
        rhel10cis_sysctl_update: true
        rhel10cis_flush_ipv4_route: true

    - name: "3.3.1.1 | PATCH | Ensure net.ipv4.ip_forward is configured | Disable IPv4 forwarding"
      ansible.builtin.debug:
        msg: "Control being set via post action 'Update sysctl' which writes to /etc/sysctl.d/60-netipv4_sysctl.conf"

- name: "3.3.1.2 | PATCH | Ensure net.ipv4.conf.all.forwarding is configured"
  when:
    - not rhel10cis_is_router
    - rhel10cis_rule_3_3_1_2
  tags:
    - level2-server
    - level1-workstation
    - sysctl
    - patch
    - rule_3.3.1.2
    - CCI-000366
    - NIST800-53R5_CM-6
  block:
    - name: "3.3.1.2 | PATCH | Ensure net.ipv4.conf.all.forwarding is configured | Disable IPv4 all forwarding | Set Fact"
      ansible.builtin.set_fact:
        rhel10cis_sysctl_update: true
        rhel10cis_flush_ipv4_route: true

    - name: "3.3.1.2 | PATCH | Ensure net.ipv4.conf.all.forwarding is configured | Disable IPv4 all forwarding"
      ansible.builtin.debug:
        msg: "Control being set via post action 'Update sysctl' which writes to /etc/sysctl.d/60-netipv4_sysctl.conf"

- name: "3.3.1.3 | PATCH | Ensure net.ipv4.conf.default.forwarding is configured"
  when:
    - not rhel10cis_is_router
    - rhel10cis_rule_3_3_1_3
  tags:
    - level2-server
    - level1-workstation
    - sysctl
    - patch
    - rule_3.3.1.3
    - CCI-000366
    - NIST800-53R5_CM-6
  block:
    - name: "3.3.1.3 | PATCH | Ensure net.ipv4.conf.default.forwarding is configured | Disable IPv4 default forwarding | Set Fact"
      ansible.builtin.set_fact:
        rhel10cis_sysctl_update: true
        rhel10cis_flush_ipv4_route: true

    - name: "3.3.1.3 | PATCH | Ensure net.ipv4.conf.default.forwarding is configured | Disable IPv4 default forwarding"
      ansible.builtin.debug:
        msg: "Control being set via post action 'Update sysctl' which writes to /etc/sysctl.d/60-netipv4_sysctl.conf"

- name: "3.3.1.4 | PATCH | Ensure net.ipv4.conf.all.send_redirects is configured"
  when:
    - not rhel10cis_is_router
    - rhel10cis_rule_3_3_1_4
  tags:
    - level1-server
    - level1-workstation
    - patch
    - sysctl
    - rule_3.3.1.4
    - CCI-000366
    - NIST800-53R5_CM-6
  block:
    - name: "3.3.1.4 | PATCH | Ensure net.ipv4.conf.all.send_redirects is configured | Set Fact"
      ansible.builtin.set_fact:
        rhel10cis_sysctl_update: true
        rhel10cis_flush_ipv4_route: true

    - name: "3.3.1.4 | PATCH | Ensure net.ipv4.conf.all.send_redirects is configured"
      ansible.builtin.debug:
        msg: "Control being set via post action 'Update sysctl' which writes to /etc/sysctl.d/60-netipv4_sysctl.conf"

- name: "3.3.1.5 | PATCH | Ensure net.ipv4.conf.default.send_redirects is configured"
  when:
    - not rhel10cis_is_router
    - rhel10cis_rule_3_3_1_5
  tags:
    - level1-server
    - level1-workstation
    - patch
    - sysctl
    - rule_3.3.1.5
    - CCI-000366
    - NIST800-53R5_CM-6
  block:
    - name: "3.3.1.5 | PATCH | Ensure net.ipv4.conf.default.send_redirects is configured | Set Fact"
      ansible.builtin.set_fact:
        rhel10cis_sysctl_update: true
        rhel10cis_flush_ipv4_route: true

    - name: "3.3.1.5 | PATCH | Ensure net.ipv4.conf.default.send_redirects is configured"
      ansible.builtin.debug:
        msg: "Control being set via post action 'Update sysctl' which writes to /etc/sysctl.d/60-netipv4_sysctl.conf"

- name: "3.3.1.6 | PATCH | Ensure net.ipv4.icmp_ignore_bogus_error_responses is configured"
  when: rhel10cis_rule_3_3_1_6
  tags:
    - level1-server
    - level1-workstation
    - sysctl
    - patch
    - rule_3.3.1.6
    - CCI-000366
    - NIST800-53R5_CM-6
  block:
    - name: "3.3.1.6 | PATCH | Ensure net.ipv4.icmp_ignore_bogus_error_responses is configured | Set Fact"
      ansible.builtin.set_fact:
        rhel10cis_sysctl_update: true
        rhel10cis_flush_ipv4_route: true

    - name: "3.3.1.6 | PATCH | Ensure net.ipv4.icmp_ignore_bogus_error_responses is configured"
      ansible.builtin.debug:
        msg: "Control being set via post action 'Update sysctl' which writes to /etc/sysctl.d/60-netipv4_sysctl.conf"

- name: "3.3.1.7 | PATCH | Ensure net.ipv4.icmp_echo_ignore_broadcasts is configured"
  when: rhel10cis_rule_3_3_1_7
  tags:
    - level1-server
    - level1-workstation
    - sysctl
    - patch
    - rule_3.3.1.7
    - CCI-000366
    - NIST800-53R5_CM-6
  block:
    - name: "3.3.1.7 | PATCH | Ensure net.ipv4.icmp_echo_ignore_broadcasts is configured | Set Fact"
      ansible.builtin.set_fact:
        rhel10cis_sysctl_update: true
        rhel10cis_flush_ipv4_route: true

    - name: "3.3.1.7 | PATCH | Ensure net.ipv4.icmp_echo_ignore_broadcasts is configured"
      ansible.builtin.debug:
        msg: "Control being set via post action 'Update sysctl' which writes to /etc/sysctl.d/60-netipv4_sysctl.conf"

- name: "3.3.1.8 | PATCH | Ensure net.ipv4.conf.all.accept_redirects is configured"
  when: rhel10cis_rule_3_3_1_8
  tags:
    - level1-server
    - level1-workstation
    - sysctl
    - patch
    - rule_3.3.1.8
    - CCI-000366
    - NIST800-53R5_CM-6
  block:
    - name: "3.3.1.8 | PATCH | Ensure net.ipv4.conf.all.accept_redirects is configured | Set Fact"
      ansible.builtin.set_fact:
        rhel10cis_sysctl_update: true
        rhel10cis_flush_ipv4_route: true

    - name: "3.3.1.8 | PATCH | Ensure net.ipv4.conf.all.accept_redirects is configured"
      ansible.builtin.debug:
        msg: "Control being set via post action 'Update sysctl' which writes to /etc/sysctl.d/60-netipv4_sysctl.conf"

- name: "3.3.1.9 | PATCH | Ensure net.ipv4.conf.default.accept_redirects is configured"
  when: rhel10cis_rule_3_3_1_9
  tags:
    - level1-server
    - level1-workstation
    - sysctl
    - patch
    - rule_3.3.1.9
    - CCI-000366
    - NIST800-53R5_CM-6
  block:
    - name: "3.3.1.9 | PATCH | Ensure net.ipv4.conf.default.accept_redirects is configured | Set Fact"
      ansible.builtin.set_fact:
        rhel10cis_sysctl_update: true
        rhel10cis_flush_ipv4_route: true

    - name: "3.3.1.9 | PATCH | Ensure net.ipv4.conf.default.accept_redirects is configured"
      ansible.builtin.debug:
        msg: "Control being set via post action 'Update sysctl' which writes to /etc/sysctl.d/60-netipv4_sysctl.conf"

- name: "3.3.1.10 | PATCH | Ensure net.ipv4.conf.all.secure_redirects is configured"
  when: rhel10cis_rule_3_3_1_10
  tags:
    - level1-server
    - level1-workstation
    - sysctl
    - patch
    - rule_3.3.1.10
    - CCI-000366
    - NIST800-53R5_CM-6
  block:
    - name: "3.3.1.10 | PATCH | Ensure net.ipv4.conf.all.secure_redirects is configured | Set Fact"
      ansible.builtin.set_fact:
        rhel10cis_sysctl_update: true
        rhel10cis_flush_ipv4_route: true

    - name: "3.3.1.10 | PATCH | Ensure net.ipv4.conf.all.secure_redirects is configured"
      ansible.builtin.debug:
        msg: "Control being set via post action 'Update sysctl' which writes to /etc/sysctl.d/60-netipv4_sysctl.conf"

- name: "3.3.1.11 | PATCH | Ensure net.ipv4.conf.default.secure_redirects is configured"
  when: rhel10cis_rule_3_3_1_11
  tags:
    - level1-server
    - level1-workstation
    - sysctl
    - patch
    - rule_3.3.1.11
    - CCI-000366
    - NIST800-53R5_CM-6
  block:
    - name: "3.3.1.11 | PATCH | Ensure net.ipv4.conf.default.secure_redirects is configured | Set Fact"
      ansible.builtin.set_fact:
        rhel10cis_sysctl_update: true
        rhel10cis_flush_ipv4_route: true

    - name: "3.3.1.11 | PATCH | Ensure net.ipv4.conf.default.secure_redirects is configured"
      ansible.builtin.debug:
        msg: "Control being set via post action 'Update sysctl' which writes to /etc/sysctl.d/60-netipv4_sysctl.conf"

- name: "3.3.1.12 | PATCH | Ensure net.ipv4.conf.all.rp_filter is configured"
  when: rhel10cis_rule_3_3_1_12
  tags:
    - level1-server
    - level1-workstation
    - sysctl
    - patch
    - rule_3.3.1.12
    - CCI-000366
    - NIST800-53R5_CM-6
  block:
    - name: "3.3.1.12 | PATCH | Ensure net.ipv4.conf.all.rp_filter is configured | Set Fact"
      ansible.builtin.set_fact:
        rhel10cis_sysctl_update: true
        rhel10cis_flush_ipv4_route: true

    - name: "3.3.1.12 | PATCH | Ensure net.ipv4.conf.all.rp_filter is configured"
      ansible.builtin.debug:
        msg: "Control being set via post action 'Update sysctl' which writes to /etc/sysctl.d/60-netipv4_sysctl.conf"

- name: "3.3.1.13 | PATCH | Ensure net.ipv4.conf.default.rp_filter is configured"
  when: rhel10cis_rule_3_3_1_13
  tags:
    - level1-server
    - level1-workstation
    - sysctl
    - patch
    - rule_3.3.1.13
    - CCI-000366
    - NIST800-53R5_CM-6
  block:
    - name: "3.3.1.13 | PATCH | Ensure net.ipv4.conf.default.rp_filter is configured | remove from other files"
      ansible.builtin.replace:
        path: "{{ item }}"
        regexp: (net.ipv4.conf.default.rp_filter)
        replace: '#\1'
      loop:
        - '/lib/sysctl.d/50-default.conf'
        - '/lib/sysctl.d/50-redhat.conf'

    - name: "3.3.1.13 | PATCH | Ensure net.ipv4.conf.default.rp_filter is configured | Set Fact"
      ansible.builtin.set_fact:
        rhel10cis_sysctl_update: true
        rhel10cis_flush_ipv4_route: true

    - name: "3.3.1.13 | PATCH | Ensure net.ipv4.conf.default.rp_filter is configured"
      ansible.builtin.debug:
        msg: "Control being set via post action 'Update sysctl' which writes to /etc/sysctl.d/60-netipv4_sysctl.conf"

- name: "3.3.1.14 | PATCH | Ensure net.ipv4.conf.all.accept_source_route is configured"
  when: rhel10cis_rule_3_3_1_14
  tags:
    - level1-server
    - level1-workstation
    - sysctl
    - patch
    - rule_3.3.1.14
    - CCI-000366
    - NIST800-53R5_CM-6
  block:
    - name: "3.3.1.14 | PATCH | Ensure net.ipv4.conf.all.accept_source_route is configured | Set Fact"
      ansible.builtin.set_fact:
        rhel10cis_sysctl_update: true
        rhel10cis_flush_ipv4_route: true

    - name: "3.3.1.14 | PATCH | Ensure net.ipv4.conf.all.accept_source_route is configured"
      ansible.builtin.debug:
        msg: "Control being set via post action 'Update sysctl' which writes to /etc/sysctl.d/60-netipv4_sysctl.conf"

- name: "3.3.1.15 | PATCH | Ensure net.ipv4.conf.default.accept_source_route is configured"
  when: rhel10cis_rule_3_3_1_15
  tags:
    - level1-server
    - level1-workstation
    - sysctl
    - patch
    - rule_3.3.1.15
    - CCI-000366
    - NIST800-53R5_CM-6
  block:
    - name: "3.3.1.15 | PATCH | Ensure net.ipv4.conf.default.accept_source_route is configured | Set Fact"
      ansible.builtin.set_fact:
        rhel10cis_sysctl_update: true
        rhel10cis_flush_ipv4_route: true

    - name: "3.3.1.15 | PATCH | Ensure net.ipv4.conf.default.accept_source_route is configured"
      ansible.builtin.debug:
        msg: "Control being set via post action 'Update sysctl' which writes to /etc/sysctl.d/60-netipv4_sysctl.conf"

- name: "3.3.1.16 | PATCH | Ensure net.ipv4.conf.all.log_martians is configured"
  when: rhel10cis_rule_3_3_1_16
  tags:
    - level1-server
    - level1-workstation
    - sysctl
    - patch
    - rule_3.3.1.16
    - CCI-000366
    - NIST800-53R5_CM-6
  block:
    - name: "3.3.1.16 | PATCH | Ensure net.ipv4.conf.all.log_martians is configured | Set Fact"
      ansible.builtin.set_fact:
        rhel10cis_sysctl_update: true
        rhel10cis_flush_ipv4_route: true

    - name: "3.3.1.16 | PATCH | Ensure net.ipv4.conf.all.log_martians is configured"
      ansible.builtin.debug:
        msg: "Control being set via post action 'Update sysctl' which writes to /etc/sysctl.d/60-netipv4_sysctl.conf"

- name: "3.3.1.17 | PATCH | Ensure net.ipv4.conf.default.log_martians is configured"
  when: rhel10cis_rule_3_3_1_17
  tags:
    - level1-server
    - level1-workstation
    - sysctl
    - patch
    - rule_3.3.1.17
    - CCI-000366
    - NIST800-53R5_CM-6
  block:
    - name: "3.3.1.17 | PATCH | Ensure net.ipv4.conf.default.log_martians is configured | Set Fact"
      ansible.builtin.set_fact:
        rhel10cis_sysctl_update: true
        rhel10cis_flush_ipv4_route: true

    - name: "3.3.1.17 | PATCH | Ensure net.ipv4.conf.default.log_martians is configured"
      ansible.builtin.debug:
        msg: "Control being set via post action 'Update sysctl' which writes to /etc/sysctl.d/60-netipv4_sysctl.conf"

- name: "3.3.1.18 | PATCH | Ensure net.ipv4.tcp_syncookies is configured"
  when: rhel10cis_rule_3_3_1_18
  tags:
    - level1-server
    - level1-workstation
    - sysctl
    - patch
    - rule_3.3.1.18
    - CCI-001095
    - CCI-002385
    - NIST800-53R5_SC-6
  block:
    - name: "3.3.1.18 | PATCH | Ensure net.ipv4.tcp_syncookies is configured | Set Fact"
      ansible.builtin.set_fact:
        rhel10cis_sysctl_update: true
        rhel10cis_flush_ipv4_route: true

    - name: "3.3.1.18 | PATCH | Ensure net.ipv4.tcp_syncookies is configured"
      ansible.builtin.debug:
        msg: "Control being set via post action 'Update sysctl' which writes to /etc/sysctl.d/60-netipv4_sysctl.conf"
