---
- name: "1.4.1 | PATCH | Ensure bootloader password is set"
  when:
    - rhel10cis_set_boot_pass
    - rhel10cis_rule_1_4_1
  tags:
    - level1-server
    - level1-workstation
    - grub
    - patch
    - rule_1.4.1
    - NIST800-53R5_AC-3
  ansible.builtin.copy:
    dest: /boot/grub2/user.cfg
    content: "GRUB2_PASSWORD={{ rhel10cis_bootloader_password_hash }}" # noqa template-instead-of-copy
    owner: root
    group: root
    mode: 'u-x,go-rwx'
  notify: Grub2cfg

- name: "1.4.2 | PATCH | Ensure access to bootloader config is configured"
  when: rhel10cis_rule_1_4_2
  tags:
    - level1-server
    - level1-workstation
    - grub
    - patch
    - rule_1.4.2
    - NIST800-53R5_CM-6
  block:
    - name: "1.4.2 | PATCH | Ensure access to bootloader config is configured | bios based system"
      when: rhel10cis_legacy_boot
      ansible.builtin.file:
        path: "/boot/grub2/{{ item }}"
        owner: root
        group: root
        mode: "{{ item.mode | default('u-x,go-rwx') }}"
        state: touch
        modification_time: preserve
        access_time: preserve
      loop:
        - fonts
        - grub.cfg
        - grubenv
        - user.cfg

    - name: "1.4.2 | PATCH | Ensure access to bootloader config is configured | efi based system"
      when: not rhel10cis_legacy_boot
      vars:
        efi_mount_options: [ 'umask=0077', 'fmask=0077', 'uid=0', 'gid=0']
      block:
        - name: "1.4.2 | AUDIT | Ensure access to bootloader config is configured | efi based system | capture current state"
          ansible.builtin.shell: grep "^[^#;]" /etc/fstab | grep '/boot/efi' | awk -F" " '{print $4}'
          changed_when: false
          check_mode: false
          register: discovered_efi_fstab

        - name: "1.4.2 | PATCH | Ensure access to bootloader config is configured | efi based system | Build Options"
          when: item not in discovered_efi_fstab.stdout
          ansible.builtin.set_fact:
            efi_mount_opts_addition: "{{ efi_mount_opts_addition + ',' + item }}"
          loop: "{{ efi_mount_options }}"

        - name: "1.4.2 | PATCH | Ensure access to bootloader config is configured | efi based system | Add mount options"
          when: efi_mount_opts_addition | length > 0
          ansible.builtin.lineinfile:
            path: /etc/fstab
            regexp: (.*/boot/efi\s*\w*\s*){{ discovered_efi_fstab.stdout }}(.*)
            line: \1{{ discovered_efi_fstab.stdout + efi_mount_opts_addition }}\2
            backrefs: true
          notify: Remount /boot/efi
