---

- name: "1.8.1 | PATCH | Ensure GDM login banner is configured"
  when:
    - rhel10cis_rule_1_8_1
    - desktop_required
  tags:
    - level1-server
    - level1-workstation
    - patch
    - gui
    - gdm
    - rule_1.8.2
    - NIST800-53R5_AC-8
    - CCI-000048
    - CCI-001384
    - CCI-001385
    - CCI-001386
    - CCI-001387
    - CCI-001388
  block:
    - name: "1.8.1 | PATCH | Ensure GDM login banner is configured | gdm profile"
      ansible.builtin.lineinfile:
        path: /etc/dconf/profile/user
        regexp: "{{ item.regexp }}"
        line: "{{ item.line }}"
        create: true
        owner: root
        group: root
        mode: 'u-x,go-wx'
      notify: Reload dconf
      loop:
        - { regexp: "user-db", line: "user-db:user" }
        - { regexp: "system-db", line: "system-db:local" }
        - { regexp: "file-db", line: "file-db:/usr/share/gdm/greeter-dconf-defaults" }

    - name: "1.8.1 | PATCH | Ensure GDM login banner is configured | Locks directory exists"
      ansible.builtin.file:
        path: /etc/dconf/db/local.d/locks
        state: directory
        mode: 'go=rx'

    - name: "1.8.1 | PATCH | Ensure GDM login banner is configured | create lock file"
      ansible.builtin.template:
        src: etc/dconf/db/local.d/locks/60-banner-message.j2
        dest: /etc/dconf/db/local.d/locks/60-banner-message
        owner: root
        group: root
        mode: "go-wx"

    - name: "1.8.2 | PATCH | Ensure GDM login banner is configured | gdm profile"
      ansible.builtin.template:
        src: etc/dconf/db/local.d/60-banner-message.j2
        dest: /etc/dconf/db/local.d/060-banner-message
        owner: root
        group: root
        mode: 'u-x,go-wx'
      notify: Reload dconf

- name: "1.8.2 | PATCH | Ensure GDM disable-user-list option is enabled"
  when:
    - rhel10cis_rule_1_8_2
    - desktop_required
  tags:
    - level1-server
    - level1-workstation
    - patch
    - gui
    - rule_1.8.2
    - NIST800-53R5_CM-6
    - CCI-000366
  block:
    - name: "1.8.2 | PATCH | Ensure GDM disable-user-list option is enabled | gdm profile"
      ansible.builtin.lineinfile:
        path: /etc/dconf/profile/user
        regexp: "{{ item.regexp }}"
        line: "{{ item.line }}"
        create: true
        owner: root
        group: root
        mode: 'u-x,go-wx'
      notify: Reload dconf
      loop:
        - { regexp: "user-db", line: "user-db:user" }
        - { regexp: "system-db", line: "system-db:local" }

    - name: "1.8.2 | PATCH | Ensure GDM disable-user-list option is enabled | Locks directory exists"
      ansible.builtin.file:
        path: /etc/dconf/db/local.d/locks
        state: directory
        mode: 'go=rx'

    - name: "1.8.2 | PATCH | Ensure GDM login banner is configured | create lock file"
      ansible.builtin.template:
        src: etc/dconf/db/local.d/locks/60-login-screen.j2
        dest: /etc/dconf/db/local.d/locks/60-login-screen
        owner: root
        group: root
        mode: "go-wx"

    - name: "1.8.2 | PATCH | Ensure GDM login banner is configured | gdm profile"
      ansible.builtin.template:
        src: etc/dconf/db/local.d/60-login-screen.j2
        dest: /etc/dconf/db/local.d/60-login-screen
        owner: root
        group: root
        mode: 'u-x,go-wx'
      notify: Reload dconf

- name: "1.8.3 | PATCH | Ensure GDM screen lock is configured"
  when:
    - rhel10cis_rule_1_8_3
    - desktop_required
  tags:
    - level1-server
    - level1-workstation
    - patch
    - gui
    - rule_1.8.3
    - NIST800-53R5_AC-11
    - CCI-000057
  block:
    - name: "1.8.3 | PATCH | Ensure GDM screen locks when the user is idle | User profile"
      ansible.builtin.lineinfile:
        path: /etc/dconf/profile/user
        regexp: "{{ item.regexp }}"
        line: "{{ item.line }}"
        create: true
        owner: root
        group: root
        mode: 'u-x,go-wx'
      notify: Reload dconf
      loop:
        - { regexp: "user-db", line: "user-db:user" }
        - { regexp: "system-db", line: "system-db:local" }

    - name: "1.8.3 | PATCH | Ensure GDM screen locks when the user is idle | Locks directory exists"
      ansible.builtin.file:
        path: /etc/dconf/db/local.d/locks
        state: directory
        mode: 'go=rx'

    - name: "1.8.3 | PATCH | Ensure GDM screen locks when the user is idle | create lock file"
      ansible.builtin.template:
        src: etc/dconf/db/local.d/locks/60-screensaver.j2
        dest: /etc/dconf/db/local.d/locks/60-screensaver
        owner: root
        group: root
        mode: "go-wx"

    - name: "1.8.3 | PATCH | Ensure GDM screen locks when the user is idle | gdm profile"
      ansible.builtin.template:
        src: etc/dconf/db/local.d/60-screensaver.j2
        dest: /etc/dconf/db/local.d/60-screensaver
        owner: root
        group: root
        mode: 'u-x,go-wx'
      notify: Reload dconf

- name: "1.8.4 | PATCH | Ensure GDM automount is configured"
  when:
    - rhel10cis_rule_1_8_4
    - desktop_required
  tags:
    - level1-server
    - level2-workstation
    - patch
    - gui
    - rule_1.8.4
    - NIST800-53R5_IA-3
    - CCI-000778
    - CCI-001958
  block:
    - name: "1.8.4 | PATCH | Ensure GDM automount is configured | User profile"
      ansible.builtin.lineinfile:
        path: /etc/dconf/profile/user
        regexp: "{{ item.regexp }}"
        line: "{{ item.line }}"
        create: true
        owner: root
        group: root
        mode: 'u-x,go-wx'
      notify: Reload dconf
      loop:
        - { regexp: "user-db", line: "user-db:user" }
        - { regexp: "system-db", line: "system-db:local" }

    - name: "1.8.4 | PATCH | Ensure GDM automount is configured | Locks directory exists"
      ansible.builtin.file:
        path: /etc/dconf/db/local.d/locks
        state: directory
        mode: 'go=rx'

    - name: "1.8.4 | PATCH | Ensure GDM automount is configured | create lock file"
      ansible.builtin.template:
        src: etc/dconf/db/local.d/locks/60-automount.j2
        dest: /etc/dconf/db/local.d/locks/60-automount
        owner: root
        group: root
        mode: "go-wx"

    - name: "1.8.4 | PATCH | Ensure GDM automount is configured | gdm profile"
      ansible.builtin.template:
        src: etc/dconf/db/local.d/60-automount.j2
        dest: /etc/dconf/db/local.d/60-automount
        owner: root
        group: root
        mode: 'u-x,go-wx'
      notify: Reload dconf

- name: "1.8.5 | PATCH | Ensure GDM autorun-never is configured"
  when:
    - rhel10cis_rule_1_8_5
    - desktop_required
  tags:
    - level1-server
    - level2-workstation
    - patch
    - gui
    - rule_1.8.5
    - NIST800-53R5_CM-7
    - CCI-001764
  block:
    - name: "1.8.5 | PATCH | Ensure GDM autorun-never is configured | User profile"
      ansible.builtin.lineinfile:
        path: /etc/dconf/profile/user
        regexp: "{{ item.regexp }}"
        line: "{{ item.line }}"
        create: true
        owner: root
        group: root
        mode: 'u-x,go-wx'
      notify: Reload dconf
      loop:
        - { regexp: "user-db", line: "user-db:user" }
        - { regexp: "system-db", line: "system-db:local" }

    - name: "1.8.5 | PATCH | Ensure GDM autorun-never is configured | Locks directory exists"
      ansible.builtin.file:
        path: /etc/dconf/db/local.d/locks
        state: directory
        mode: 'go=rx'

    - name: "1.8.5 | PATCH | Ensure GDM autorun-never is configured | create lock file"
      ansible.builtin.template:
        src: etc/dconf/db/local.d/locks/60-media-autorun.j2
        dest: /etc/dconf/db/local.d/locks/60-media-autorun
        owner: root
        group: root
        mode: "go-wx"

    - name: "1.8.5 | PATCH | Ensure GDM autorun-never is configured | gdm profile"
      ansible.builtin.template:
        src: etc/dconf/db/local.d/60-media-autorun.j2
        dest: /etc/dconf/db/local.d/60-media-autorun
        owner: root
        group: root
        mode: 'u-x,go-wx'
      notify: Reload dconf

- name: "1.8.6 | PATCH | Ensure Xwayland is configured"
  when:
    - rhel10cis_rule_1_8_6
    - desktop_required
  tags:
    - level2-server
    - level2-workstation
    - patch
    - gui
    - rule_1.8.10
  ansible.builtin.lineinfile:
    path: /etc/gdm/custom.conf
    regexp: WaylandEnable\s*=\s*true
    line: WaylandEnable=false
    insertafter: '[daemon]'
