---

- name: "4.1.1 | PATCH | Ensure firewalld is installed"
  when:
    - rhel10cis_rule_4_1_1
    - rhel10cis_firewall == 'firewalld'
  tags:
    - level1-server
    - level1-workstation
    - patch
    - firewalld
    - rule_4.1.1
    - NIST800-53R5_CA-9
  ansible.builtin.package:
    name: firewalld
    state: present

- name: "4.1.2 | PATCH | Ensure firewalld backend is configured"
  when: rhel10cis_rule_4_1_2
  tags:
    - level1-server
    - level1-workstation
    - patch
    - firewalld
    - rule_4.1.2
    - NIST800-53R5_CA-9
  ansible.builtin.lineinfile:
    path: /etc/firewalld/firewalld.conf
    regexp: ^FirewallBackend\s*=\s*iptables
    line: FirewallBackend=nftables

- name: "4.1.3 | PATCH | Ensure firewalld.service is configured"
  when: rhel10cis_rule_4_1_3
  tags:
    - level1-server
    - level1-workstation
    - patch
    - firewalld
    - rule_4.1.3
    - NIST800-53R5_NA
  ansible.builtin.systemd:
    name: firewalld
    state: started
    enabled: true

- name: "4.1.4 | PATCH | Ensure firewalld active zone target is configured"
  when: rhel10cis_rule_4_1_4
  tags:
    - level1-server
    - level1-workstation
    - patch
    - firewalld
    - rule_4.1.4
    - NIST800-53R5_NA
  vars:
    warn_control_id: '4.1.4'
  block:
    - name: "4.1.4 | PATCH | Ensure firewalld active zone target is configured | Ensure active zone is set"
      ansible.posix.firewalld:
        zone: "{{ rhel10cis_active_firewall_zone }}"
        permanent: true
        state: present
      notify: Reload firewalld

    - name: "4.1.4 | AUDIT | Ensure firewalld active zone target is configured | get active zone settings"
      ansible.builtin.shell: firewall-cmd --list-all-zones | grep -A1 active
      changed_when: false
      register: discover_active_firewall_zone_settings

    - name: "4.1.4 | PATCH | Ensure firewalld active zone target is configured | Ensure zone settings are permanent"
      when: rhel10cis_disruption_high
      ansible.posix.firewalld:
        zone: "{{ rhel10cis_active_firewall_zone }}"
        permanent: true
        state: enabled
      notify: Reload firewalld

    - name: "4.1.4 | PATCH | Ensure firewalld active zone target is configured | set zone if required"
      when:
        - rhel10cis_disruption_high
        - "'accept' in discover_active_firewall_zone_settings.stdout"
      ansible.posix.firewalld:
        zone: "{{ rhel10cis_active_firewall_zone }}"
        permanent: true
        state: enabled
        target: "{{ rhel10cis_firewalld_target }}"
      notify: Reload firewalld

    - name: "4.1.4 | AUDIT | Ensure firewalld active zone target is configured | Absent"
      when:
        - not rhel10cis_disruption_high
        - "'accept' in discover_active_firewall_zone_settings.stdout"
      ansible.builtin.debug:
        msg: "Warning!! The active firewall zone need investigation to match requirements"

    - name: "4.1.4 | AUDIT | Ensure firewalld active zone target is configured | Present"
      when:
        - not rhel10cis_disruption_high
        - "'accept' in discover_active_firewall_zone_settings.stdout"
      ansible.builtin.import_tasks:
        file: warning_facts.yml

- name: "4.1.5 | PATCH | Ensure firewalld loopback traffic is configured"
  when: rhel10cis_rule_4_1_5
  tags:
    - level1-server
    - level1-workstation
    - patch
    - firewalld
    - rule_4.1.5
    - NIST800-53R5_NA
  block:
    - name: "4.1.5 | AUDIT | Ensure firewalld loopback traffic is configured | get loopback zone"
      ansible.builtin.shell: firewall-cmd --list-all --zone="$(firewall-cmd --get-zone-of-interface=lo | xargs)" | grep -Psi -- '^\h*target:\h+\H+'
      changed_when: false
      register: discovered_loopback_zone

    - name: "4.1.5 | PATCH | Ensure firewalld loopback traffic is configured | if loopback - no-zone"
      when: "'no zone' in discovered_loopback_zone.stdout"
      ansible.posix.firewalld:
        zone: trusted
        permanent: true
        state: enabled
        interface: lo
      notify: Reload firewalld

    - name: "4.1.5 | PATCH | Ensure firewalld loopback traffic is configured | if loopback - no-zone"
      when: "'ACCEPT' not in discovered_loopback_zone.stdout"
      ansible.posix.firewalld:
        zone: trusted
        permanent: true
        state: enabled
        target: ACCEPT
      notify: Reload firewalld

- name: "4.1.6 | PATCH | Ensure firewalld loopback source address traffic is configured"
  when: rhel10cis_rule_4_1_6
  tags:
    - level1-server
    - level1-workstation
    - patch
    - firewalld
    - rule_4.1.6
    - NIST800-53R5_NA
  ansible.posix.firewalld:
    rich_rule: "{{ item }}"
    zone: "{{ rhel10cis_active_firewall_zone }}"
    permanent: true
    immediate: true
    state: enabled
  loop:
    - rule family="ipv4" source address="127.0.0.1" destination not address="127.0.0.1" drop
    - rule family="ipv6" source address="::1" destination not address="::1" drop
  notify: Reload firewalld

- name: "4.1.7 | AUDIT | Ensure firewalld services and ports are configured"
  when: rhel10cis_rule_4_1_7
  tags:
    - level1-server
    - level1-workstation
    - manual
    - audit
    - rule_4.1.7
    - NIST800-55_CA-9
  vars:
    warn_control_id: "4.1.7"
  block:
    - name: "4.1.7 | AUDIT | Ensure firewalld services and ports are configured | Get list of services and ports"
      ansible.builtin.shell: "firewall-cmd --get-active-zones | awk '!/:/ {print $1}' | while read ZN; do firewall-cmd --list-all --zone=$ZN;
        done"
      changed_when: false
      failed_when: false
      check_mode: false
      register: discovered_services_and_ports

    - name: "4.1.7 | AUDIT | Ensure firewalld services and ports are configured | Show services and ports"
      ansible.builtin.debug:
        msg:
          - "The items below are the services and ports that are accepted, please correct as needed"
          - "{{ discovered_services_and_ports.stdout_lines }}"

    - name: "4.1.7 | AUDIT | Ensure firewalld services and ports are configured | Warning count"
      when: discovered_services_and_ports is defined
      ansible.builtin.import_tasks:
        file: warning_facts.yml
