# File managed by ansible as part of RHEL10 CIS benchmark
# As part of Ansible-lockdown
# Provided by {{ company_title }}
# This is a subpolicy to disable weak macs
# Carried out as part of CIS Benchmark control 5.1.15

mac@SSH = -HMAC-MD5* -UMAC-64* -UMAC-128* -HMAC-SHA1*
