# File managed by ansible as part of RHEL10 CIS benchmark
# As part of Ansible-lockdown
# Provided by {{ company_title }}
# This is a subpolicy dropping the SHA1 hash and signature support
# Carried out as part of CIS Benchmark rule 5.1.12

hash = -SHA1
sign = -*-SHA1
sha1_in_certs = 0
