# File managed by ansible as part of RHEL10 CIS benchmark
# As part of Ansible-lockdown
# Provided by {{ company_title }}
# This is a subpolicy to disable Encrypt then MAC
# for the SSH protocol (libssh and OpenSSH)
# Carried out as part of CIS Benchmark rule 1.6.7

etm@SSH = DISABLE_ETM
