# File managed by ansible as part of RHEL10 CIS benchmark
# Provided by Ansible-lockdown by Tyto Athene


# Lock desktop media-handling automount setting
/org/gnome/desktop/media-handling/automount

# Lock desktop media-handling automount-open
/org/gnome/desktop/media-handling/automount-open
