# File managed by ansible as part of RHEL10 CIS benchmark
# As part of Ansible-lockdown
# Provided by {{ company_title }}

/org/gnome/login-screen/banner-message-enable
/org/gnome/login-screen/banner-message-text
